Footer,p,ul{
    /* display:flex; */
    justify-content: space-evenly;
    /* list-style-type: none;  to hode the numbers in ol */
    background-color:pink;
    margin:0px;
    /*justify-content: center;
        align-items: center;
        flex-direction: column;*/
    

}
